p.meta {
  margin-top: 1rem;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  color: $white;
}

@include media-breakpoint-down(sm) {
  p.meta {
    font-size: $font-size-base * 0.9375;
  }
}

p.meta a {
  color: $white;
}

p.meta a:hover,
p.meta a:focus {
  color: $primary;
}
