{{ define "main" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <a href="https://uu.tymyrddin.dev/" target="_blank">
        <img src="/images/unseen-university-library.png" alt="Unseen University Library"
          width="100%"
          height="auto" />
        </a>
      </div>
      <div class="col-lg-5">
        <a href="https://milliways.tymyrddin.dev/" target="_blank">
        <img src="/images/milliways.png" alt="Milliways"
          width="100%"
          height="auto" />
        </a>
      </div>
      <div class="col-lg-5">
        <a href="https://wyrd.tymyrddin.dev/" target="_blank">
        <img src="/images/sisters2.png" alt="Wyrd sisters"
          width="100%"
          height="auto" />
        </a>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Oink</h2>
        <a href="https://oink.tymyrddin.dev/" target="_blank">
        <img src="/images/sisters.png" alt="Oink blog"
          width="100%"
          height="auto" />
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
