{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-7 pb-5 text-center">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.Lead | safeHTML }}</p>
  </div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Unseen university</h2>
        <img src="/images/unseen-university-library.png" alt="Unseen University Library"
          width="100%"
          height="auto" />
        <p><br>A medley of security related research, attack trees, threat modelling, and python scripts for ethical hacking and mitigations in non-existent classes of the <a href="https://uu.tymyrddin.dev/" target="_blank">The Unseen University</a> on Discworld, hosted on <a href="https://github.com/tymyrddin" target="_blank">Github</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Try Hack Me</h2>
        <img src="/images/thm.png" alt="Ankh Morpork"
          width="100%"
          height="auto" />
        <p><br>Hacking challenges. Learning content. Network simulations. Intentionally vulnerable technology. Real world examples. New vulnerabilities. New targets. Role-playing the bad girl in <a href="https://tryhackme.com/p/Nina.Barzh" target="_blank">Try Hack Me</a> lab settings.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Milliways</h2>
        <img src="/images/milliways.png" alt="Milliways"
          width="100%"
          height="auto" />
        <p><br>A selection of data related learning, including data collection, analysis, wrangling, visualisation, machine learning, deep learning and data science in <a href="https://milliways.tymyrddin.dev/" target="_blank">Milliways, the Restaurant at the End of the Universe</a>, on <a href="https://gitlab.com/tymyrddin" target="_blank">Gitlab</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Wyrd sisters</h2>
        <img src="/images/sisters2.png" alt="Wyrd sisters"
          width="100%"
          height="auto" />
        <p><br>A collection of snippets, application boilerplates, pipelines, testing frameworks and tools for getting started in development projects by the <a href="https://wyrd.tymyrddin.dev/">Wyrd Sisters</a> on <a href="https://bitbucket.org/tymyrddin" target="_blank">BitBucket</a>. Fine practice targets too.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Oink</h2>
        <img src="/images/sisters.png" alt="Wyrd sisters"
          width="100%"
          height="auto" />
        <p><br>A <a href="https://oink.tymyrddin.dev/" target="_blank">blog</a>, written by wyrd sisters flying about, while thinking headology thoughts. "Good and bad is tricky, I ain't too certain about where people stand. P'raps what matters is which way you face." </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
